<html lang='tr'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Contact Form</title>
  </head>
  <body>
    <div
      style='width:600px; margin:0 auto; padding:10px; border:1px solid #e7e7e7; border-radius:5px;'
    >
      <h2>Hello <strong>Vicky</strong>,</h2>
      <p>We got one new request, please checkout below customer details.</p>
      <p>Name : <strong>{{name}}</strong></p>
      <p>Mobile No. : <strong>{{mobileNo}}</strong></p>
      <p>email: <strong>{{email}}</strong></p>
      <p>Event Date : <strong>{{date.startDate - date.endDate}}</strong></p>
      <p>Event Type : <strong>{{eventType}}</strong></p>
      <p>message: <strong>{{message}}</strong></p>
      <br />

      <p>
        Regards,<br />
        Prashant Kumar
        <br />
        Shadi solution Tech support
      </p>
    </div>
  </body>
</html>